/* body {
    background-image: url("")
} */

.landing-img {
    height: 300px;
    width: 500px;
    border-radius: 15px;
}

.landing-cont {
    text-align: center;
}

h1 {
    text-shadow: 5px 5px 10px green;
    font-family: Arial, sans-serif;
    font-size: 50px;
}

p {
    text-shadow: 5px 5px 10px green;
    font-size: 30px;
}

.land-log {
    border: solid;
    padding: 5px;
}

.land-sign {
    border: solid;
    padding: 5px;
}